[package]
name = "prisma-client-rust"
version = "0.6.5"
authors = ["Brendan Allan <brendonovich@outlook.com>"]
edition = "2021"
description = "A prisma client for Rust"
rust-version = "1.62"

exclude = ["examples", "integration-tests"]

[workspace]
members = [
  "examples/*",
  "integration-tests",
  "sdk",
  "sdk/example/*",
  "cli",
  "prisma-cli",
]
resolver = "2"

[features]
default = ["mysql", "sqlite", "mssql", "postgresql", "mongodb"]
rspc = ["dep:rspc"]
sqlite-create-many = ["psl/sqlite-create-many"]
migrations = ["migration-core", "include_dir", "tempdir", "tokio/fs", "tracing"]
mocking = ["tokio"]
# mutation-callbacks = []

mysql = ["query-core/mysql", "migration-core/mysql"]
sqlite = ["query-core/sqlite", "migration-core/sqlite"]
mssql = ["query-core/mssql", "migration-core/mssql"]
postgresql = ["query-core/postgresql", "migration-core/postgresql"]
mongodb = ["query-core/mongodb", "migration-core/mongodb"]

[workspace.dependencies]
diagnostics = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
dml = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
dmmf = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
migration-core = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
prisma-models = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
psl = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
query-connector = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
query-core = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
request-handlers = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
schema = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }
user-facing-errors = { git = "https://github.com/Brendonovich/prisma-engines", tag = "pcr-0.6.5" }

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dependencies]
serde.workspace = true
serde_json.workspace = true
chrono = { version = "0.4.19", features = ["serde"] }
thiserror = "1.0.30"
bigdecimal = { version = "0.3", features = ["serde"] }
uuid = { version = "1", features = ["serde"] }
indexmap = "1.8.2"
serde-value = "0.7.0"
base64 = "0.13.0"
tokio = { version = "1.21.0", optional = true }
futures = "0.3"
paste = "1.0.11"

query-core.workspace = true
query-connector.workspace = true
prisma-models.workspace = true
dml.workspace = true
user-facing-errors.workspace = true
dmmf.workspace = true
schema.workspace = true
psl.workspace = true
diagnostics.workspace = true

# features = "migrations"
migration-core = { workspace = true, optional = true }
include_dir = { version = "0.7.2", optional = true }
tempdir = { version = "0.3.7", optional = true }
tracing = { version = "0.1.36", optional = true }

# features = "rspc"
rspc = { version = "0.1.3", optional = true, features = [
  "indexmap",
  "chrono",
  "uuid",
] }
convert_case = "0.6.0"

