[package]
name = "prisma-client-rust"
version = "0.3.0"
authors = ["Brendan Allan <brendonovich@outlook.com>"]
edition = "2021"
description = "A prisma client for Rust"
license = "MIT"

exclude = [
    "examples"
]

[workspace]
members = [
    "cli",
    "examples/*"
]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
chrono = { version = "0.4.19", features = ["serde"] }
thiserror = "1.0.30"

query-core = { git = "https://github.com/Brendonovich/prisma-engines", rev = "8c1da2fdc058b7af8905a61491856cade06f952f" }
query-connector = { git = "https://github.com/Brendonovich/prisma-engines", rev = "8c1da2fdc058b7af8905a61491856cade06f952f" }
request-handlers = { git = "https://github.com/Brendonovich/prisma-engines", rev = "8c1da2fdc058b7af8905a61491856cade06f952f" }
prisma-models = { git = "https://github.com/Brendonovich/prisma-engines", rev = "8c1da2fdc058b7af8905a61491856cade06f952f" }
datamodel = { git = "https://github.com/Brendonovich/prisma-engines", rev = "8c1da2fdc058b7af8905a61491856cade06f952f" }
graphql-parser = { git = "https://github.com/prisma/graphql-parser", rev = "6a3f58bd879065588e710cb02b5bd30c1ce182c3" }