[package]
name = "prisma-client-rust"
version = "0.6.3"
authors = ["Brendan Allan <brendonovich@outlook.com>"]
edition = "2021"
description = "A prisma client for Rust"
rust-version = "1.62"

exclude = ["examples", "integration-tests"]

[workspace]
members = [
  "examples/*",
  "integration-tests",
  "sdk",
  "sdk/example/*",
  "cli",
  "prisma-cli",
]
resolver = "2"

[features]
default = ["mysql", "sqlite", "mssql", "postgresql", "mongodb"]
rspc = ["dep:rspc"]
sqlite-create-many = ["psl/sqlite-create-many"]
migrations = ["migration-core", "include_dir", "tempdir", "tokio", "tracing"]
mutation-callbacks = []

mysql = ["query-core/mysql", "migration-core/mysql"]
sqlite = ["query-core/sqlite", "migration-core/sqlite"]
mssql = ["query-core/mssql", "migration-core/mssql"]
postgresql = [
  "query-core/postgresql",
  "migration-core/postgresql",
]
mongodb = ["query-core/mongodb", "migration-core/mongodb"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
chrono = { version = "0.4.19", features = ["serde"] }
thiserror = "1.0.30"
bigdecimal = { version = "0.3", features = ["serde"] }
uuid = { version = "1", features = ["serde"] }
indexmap = "1.8.2"
serde-value = "0.7.0"
base64 = "0.13.0"

query-core = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
query-connector = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
prisma-models = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
dml = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
user-facing-errors = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
dmmf = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
schema = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
psl = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }
diagnostics = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0" }

# features = "migrations"
migration-core = { git = "https://github.com/Brendonovich/prisma-engines", rev = "43fcfd1b5c0be59e414fb03cf7b7712e1661b6d0", optional = true }
include_dir = { version = "0.7.2", optional = true }
tempdir = { version = "0.3.7", optional = true }
tokio = { version = "1.21.0", features = ["fs"], optional = true }
tracing = { version = "0.1.36", optional = true }

# features = "rspc"
rspc = { version = "0.1.2", optional = true, features = [
  "indexmap",
  "chrono",
  "uuid",
] }
convert_case = "0.6.0"
