---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from "../../languages";
import * as CONFIG from "../../config";
import PrismaLogo from "../PrismaLogo.astro";
import SkipToContent from "./SkipToContent.astro";
import SidebarToggle from "./SidebarToggle";
import LanguageSelect from "./LanguageSelect";
import Search from "./Search";

const { currentPage } = Astro.props;
const lang = currentPage && getLanguageFromURL(currentPage);
---

<header
  class="sticky md:relative md:relative top-0 z-[11] h-24 bg-[color:var(--theme-bg)] w-full flex items-center justify-center overflow-hidden"
>
  <SkipToContent />
  <nav class="max-w-screen-2xl w-full flex items-center" title="Top Navigation">
    <div class="md:hidden px-4">
      <SidebarToggle client:idle />
    </div>
    <div
      class="md:pl-8 logo flex items-center overflow-hidden text-3xl flex-shrink-0 font-bold leading-1 gap-1 bg-[color:var(--color-base-white)]"
    >
      <a
        href="/"
        class="flex py-2 px-1 -my-2 -mx-1 font-bold decoration-none text-[color:var(--theme-text)] transition transition-color"
      >
        <PrismaLogo size={40} />
        <h1 class="logo-name decoration-none m-0 hidden md:block">
          {CONFIG.SITE.title ?? "Documentation"}
        </h1>
      </a>
    </div>
    <div style="flex-grow: 1;"></div>
    {
      KNOWN_LANGUAGE_CODES.length > 1 && (
        <LanguageSelect lang={lang} client:idle />
      )
    }
  </nav>
</header>

<style>
  .decoration-none {
    text-decoration: none !important;
  }

  :focus.decoration-none,
  :hover.decoration-none {
    color: var(--theme-text-accent);
  }

  .logo-name {
    font: inherit;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
  }

  /** Style Algolia */
  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }

  .search-item {
    display: none;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    padding-right: 0.7rem;
    display: flex;
    max-width: 200px;
  }
  :global(.search-item > *) {
    flex-grow: 1;
  }
</style>
